# Variables de entorno para Google Sheets API
GOOGLE_ACCOUNT_JSON={"type":"service_account","project_id":"tu-proyecto","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"tu-service-account@tu-proyecto.iam.gserviceaccount.com","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"...","universe_domain":"googleapis.com"}

SPREADSHEET_ID=tu_spreadsheet_id_aqui
SPREADSHEET_NAME=Hoja 1

# Puerto del servidor
PORT=4000

# Entorno de ejecución (development, production)
NODE_ENV=development